global:
  scrape_interval:     1m

scrape_configs:
  - job_name: "${TESTNET_USERNAME}"
    static_configs:
      - targets: ['node-exporter:9100']

remote_write:
  - url: 'http://37.27.6.77:9090/api/v1/write'
